#word {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#word-display {
  font-size: 60px;
  font-weight: 530;
}
#play-btn {
  cursor: pointer;
  background: none;
  border: none;
}

#play {
  float: right;
}
#phonetic {
  color: hsl(274, 82%, 60%);
  font-size: 20px;
  margin-top: 0.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.noun-container {
  margin-top: 1rem ;
}
.noun-container_data {
  gap: 1.25rem;
  display: flex;
  width: 100%;
  align-items: center;
}
.noun-container_data_noun {
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-style: italic;
  font-weight: 700;
  margin: 0;
  
}
.noun-container_data_noun-line {
  width: 100%;
  height: 1.5px;
  --tw-bg-opacity: 1;
  background-color: rgb(233 233 233 / var(--tw-bg-opacity));
}
.meaning-title {
  margin-top: 2rem;
  font-size: 20px;
  color: #333333;
  font-weight: 200;
}

.meaning-list {
  padding-left: 22px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.meaning-item {
  font-size: 14px;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.8;
}
.synonyms-section {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.synonyms-title {
  margin-right: 1rem;
  font-size: 20px;
  color: #333333;
  font-weight: 200;
}

.synonym-button {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  --tw-text-opacity: 1;
  color: rgb(164 69 237 / var(--tw-text-opacity));
  appearance: button;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  border: none;
}
.meaning-section{
  margin-top: 2rem;
}

.section-divider {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  --tw-bg-opacity: 1;
    background-color: rgb(233 233 233 / var(--tw-bg-opacity));
    margin-top: 2rem;
}


.source-section {
  margin-top: 1rem;
  display: flex;
   font-size: 20px;
  line-height: 24px;
}

.source-title {
  font-size: 12px;
   color: #333333;
  font-weight: 200;
  font-size: 15px;
  line-height: 18px;
  margin-right: 2rem;
}

.source-link {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
    font-size: 15px;
  line-height: 18px;
  opacity: .9;
}
a {
  text-decoration: none;
  color: hsl(0, 4%, 26%);
}